:root {
  --primary-color: #db9a5c;
  --color-background: #010101;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  font: "Poppins", sans-serif;
  background-color: var(--color-background);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0, 8);
  border-bottom: 1px solid #795636;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.navbar .navbar_logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar_logo span {
  color: var(--primary-color);
}
